In [17]:
import numpy as np
import pandas as pd
import string
import re

import seaborn as sns
pd.set_option('display.max_columns', None)

In [322]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_path = "./data/"

In [3]:
player_stat = pd.read_excel(data_path + "players stat.xlsx")

In [4]:
player_cv = pd.read_excel(data_path + "players cv.xlsx")

In [5]:
player_salary = pd.read_excel(data_path + "players salary.xlsx")

# Season 2015-2016

In [6]:
player_stat_15_16 = player_stat[player_stat['Season'] == '2015-16']

In [7]:
player_salary_15_16 = player_salary[player_salary['SEASON'] == '2015-2016']

In [8]:
player_cv_15_16 = player_cv[(player_cv['From']<=2016) & (player_cv['To']>=2015)]

## Merge Stat and CV

In [9]:
merge_stat_cv = pd.merge(player_stat_15_16, player_cv_15_16, left_on='Player', right_on='Player', how='inner')

In [14]:
merge_stat_cv.shape

(470, 38)

## Merge Stat and CV and Salary

In [19]:
def preprocess_name(name):
    if ',' in name:
        ind = name.find(',')
        name = name[:ind]
    ### We remove the Jr.
    if "Jr." in name:
        name = name.replace("Jr.", "")
    if "Jr" in name:
        name = name.replace("Jr.", "")
    if "III" in name:
        name = name.replace("III", "")
    while '.' in name:
        ind = name.find('.')
        name = name.replace('.','')
    name = name.lower()
    
    return name

In [20]:
player_salary_15_16['Player'] = player_salary_15_16['NAME'].apply(lambda s: preprocess_name(s))

<ipython-input-20-a0c402b0e77e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_salary_15_16['Player'] = player_salary_15_16['NAME'].apply(lambda s: preprocess_name(s))

In [21]:
merge_stat_cv['Player'] = merge_stat_cv['Player'].apply(lambda s: preprocess_name(s))

In [22]:
len(set(merge_stat_cv['Player']))

470

In [23]:
merge = pd.merge(merge_stat_cv, player_salary_15_16, left_on='Player', right_on='Player', how='inner')

In [24]:
merge.shape

(377, 43)

## Final dataframe to work on for 2015-2016

In [25]:
merge.head(3)

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College,SEASON,RK,NAME,TEAM,SALARY
0,thanasis antetokounmpo,2015-16,23.0,NYK,NBA,2,0.0,6.0,32.9,0.250,0.000,0.0,17.9,9.1,0.0,0.0,0.0,0.0,30.2,140.0,110.0,0.0,0.0,0.0,0.291,6.3,-10.5,-4.1,0.0,Greece,Black,2016,2016,F,6-7,205,"July 17, 1992",NaN,2015-2016,416,"Thanasis Antetokounmpo, SF",New York Knicks,30888
1,stephen curry,2015-16,27.0,GSW,NBA,79,79.0,2700.0,31.5,0.554,0.250,2.9,13.6,8.6,33.7,3.0,0.4,12.9,32.6,125.0,103.0,13.8,4.1,17.9,0.318,12.4,0.1,12.5,9.8,Ohio,Black and White,2010,2016,G,6-3,185,"March 14, 1988",Davidson College,2015-2016,55,"Stephen Curry, PG",Golden State Warriors,11370786
2,kevin durant,2015-16,27.0,OKC,NBA,72,72.0,2578.0,28.2,0.348,0.361,2.0,21.8,12.4,24.2,1.3,2.5,13.5,30.6,122.0,104.0,11.0,3.5,14.5,0.270,7.0,0.9,7.9,6.4,District of Columbia,Black,2008,2016,F,6-9,240,"September 29, 1988",University of Texas at Austin,2015-2016,7,"Kevin Durant, SF",Oklahoma City Thunder,20158622