In [1]:
import numpy as np
import pandas as pd
import string
import re

import seaborn as sns
pd.set_option('display.max_columns', None)

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data_path = "data/"

In [ ]:
player_stat = pd.read_excel(data_path + "players stat.xlsx")
player_cv = pd.read_excel(data_path + "players cv.xlsx")
player_salary = pd.read_excel(data_path + "players salary.xlsx")

### 2014-2015 season for player_stat

In [ ]:
player_stat_14_15 = player_stat[player_stat['Season'] == '2014-15']
player_stat_14_15.shape

In [ ]:
player_stat_14_15['Player'].value_counts()

<div class="alert alert-success">

- Comment: no duplicated names for player_stat_14_15

### Get 2014-2015 data for player_cv

In [ ]:
player_cv_14_15 = player_cv[(player_cv['From']<=2015) & (player_cv['To']>=2014)]

In [ ]:
player_cv_14_15.shape

### Merge these two

In [ ]:
merge_stat_cv = pd.merge(player_stat_14_15, player_cv_14_15, left_on='Player', right_on='Player', how='inner')

In [ ]:
merge_stat_cv.shape[0] == player_stat_14_15.shape[0]

<div class="alert alert-success">

- Comment: $\{$player $P$: $P \in$ player_stat_14_15$\}$  $\subseteq$ \{ player $P$: $P \in$ player_cv_14_15 \}

### Get 2014-2015 data for player_salary

In [ ]:
player_salary_14_15 = player_salary[player_salary['SEASON'] == '2014-2015']

In [ ]:
player_salary_14_15.shape

In [ ]:
player_salary_14_15.head(3)

#### preprocess the name

In [ ]:
# all names contain ","
player_salary_14_15['NAME'].str.contains(",").sum() == player_salary_14_15.shape[0]

In [ ]:
# all names contain one and only one ","
for l in player_salary_14_15['NAME'].str.split(",").to_list():
    if len(l)!=2:
        print(l)

<div class="alert alert-success">

- Comment: We noticed that in player_salary_14_15, these four players' names are not in good format: Jeff Taylor, Louis Williams, Luc Richard Mbah A Moute, Patty Mills. For example, in the table merge_stat_cv, Jeff Taylor is called Jeffery Taylor.

In [ ]:
false_names = ['jeff taylor', 'louis williams', 'luc richard mbah a moute', 'patty mills']
true_names = ['jeffery taylor', 'lou williams', 'luc mbah a moute', 'patrick mills']

In [ ]:
def preprocess_name(name):
    if ',' in name:
        ind = name.find(',')
        name = name[:ind]
    ### We remove the Jr.
    if "Jr." in name:
        name = name.replace(" Jr.", "")
    if "Jr" in name:
        name = name.replace(" Jr.", "")
    if "III" in name:
        name = name.replace(" III", "")
    while '.' in name:
        ind = name.find('.')
        name = name.replace('.','')
        
    name = name.lower()
    name = name.strip()
    
    if name in false_names:
        name = true_names[false_names.index(name)]
    
    return name

## Final dataframe to work on for 2014-2015

In [ ]:
player_salary_14_15['Player'] = player_salary_14_15['NAME'].apply(lambda s: preprocess_name(s))

In [ ]:
merge_stat_cv['Player'] = merge_stat_cv['Player'].apply(lambda s: preprocess_name(s))

In [ ]:
merge_14_15 = pd.merge(merge_stat_cv, player_salary_14_15, left_on='Player', right_on='Player', how='inner')
merge_14_15.shape

In [ ]:
merge_14_15.head()

In [ ]:
np.sort(merge_14_15.TEAM.unique())

In [ ]:
merge_14_15.to_csv(data_path + "merge_14_15.csv", index=False)