In [1]:
import numpy as np
import pandas as pd
import string
import re

import seaborn as sns
pd.set_option('display.max_columns', None)

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data_path = "data/"

In [4]:
player_stat = pd.read_excel(data_path + "players stat.xlsx")
player_cv = pd.read_excel(data_path + "players cv.xlsx")
player_salary = pd.read_excel(data_path + "players salary.xlsx")

### 2013-2014 season for player_stat

In [5]:
player_stat_13_14 = player_stat[player_stat['Season'] == '2013-14']
player_stat_13_14.shape

(482, 29)

In [6]:
player_stat_13_14 = player_stat_13_14.reset_index(drop=True)

In [7]:
player_stat_13_14['Player'].value_counts()

Tony Mitchell       2
Quincy Acy          1
Arnett Moultrie     1
Andrew Nicholson    1
Jameer Nelson       1
                   ..
Kevin Garnett       1
Francisco Garcia    1
Channing Frye       1
Joel Freeland       1
Tyler Zeller        1
Name: Player, Length: 481, dtype: int64

<div class="alert alert-success">

- Comment: one duplicated name (```Tony Mitchell```) for season 2013-2014. We distinguish them by adding their ages on names.

In [8]:
player_stat_13_14[player_stat_13_14['Player']=='Tony Mitchell']

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
308,Tony Mitchell,2013-14,24.0,MIL,NBA,3,0.0,10.0,30.9,0.200,0.000,11.1,0.0,5.7,22.6,5.2,0.0,0.0,22.6,132.0,109.0,0.0,0.0,0.1,0.242,8.6,-2.1,6.5,0.0
309,Tony Mitchell,2013-14,21.0,DET,NBA,21,0.0,79.0,18.1,0.083,1.583,19.7,16.0,18.0,3.4,3.8,3.0,16.4,13.2,117.0,104.0,0.1,0.1,0.2,0.151,-0.1,1.4,1.3,0.1

In [9]:
player_stat_13_14.iloc[308, 0] = 'Tony Mitchell 24'
player_stat_13_14.iloc[309, 0] = 'Tony Mitchell 21'

In [10]:
len(player_stat_13_14['Player'].value_counts()) == player_stat_13_14.shape[0]

True

### Get 2013-2014 data for player_cv

In [11]:
player_cv_13_14 = player_cv[(player_cv['From']<=2014) & (player_cv['To']>=2013)]
player_cv_13_14 = player_cv_13_14.reset_index(drop=True)

In [12]:
player_cv_13_14.shape

(574, 10)

In [13]:
player_cv_13_14['Player'].value_counts()

Tony Mitchell       2
Chris Johnson       2
Chris Wright        2
Quincy Acy          1
Nemanja Nedovic     1
                   ..
Daniel Gibson       1
Paul George         1
Mickael Gelabale    1
Alonzo Gee          1
Tyler Zeller        1
Name: Player, Length: 571, dtype: int64

<div class="alert alert-success">

- Comment: 3 duplicated name for season 2013-2014 with one in ```player_stat``` table.

In [14]:
player_cv_13_14[player_cv_13_14['Player']=='Tony Mitchell']

,Player,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
363,Tony Mitchell,Georgia,Black,2014,2014,F,6-6,216,"August 7, 1989",University of Alabama
364,Tony Mitchell,Wisconsin,Black,2014,2014,F,6-8,235,"April 7, 1992",University of North Texas

In [15]:
player_cv_13_14.iloc[363, 0] = 'Tony Mitchell 24'
player_cv_13_14.iloc[364, 0] = 'Tony Mitchell 21'

In [16]:
player_cv_13_14.iloc[[363,364]]

,Player,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
363,Tony Mitchell 24,Georgia,Black,2014,2014,F,6-6,216,"August 7, 1989",University of Alabama
364,Tony Mitchell 21,Wisconsin,Black,2014,2014,F,6-8,235,"April 7, 1992",University of North Texas

Check which ```Chris Johnson``` is in previous table ```player_stat```.

In [17]:
player_stat_13_14[player_stat_13_14['Player']=='Chris Johnson']

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
235,Chris Johnson,2013-14,23.0,BOS,NBA,40,0.0,789.0,10.8,0.593,0.201,4.3,9.8,7.0,6.0,1.8,0.4,8.6,14.3,111.0,109.0,0.9,0.5,1.4,0.085,0.1,-0.9,-0.8,0.2

In [18]:
player_cv_13_14[player_cv_13_14['Player']=='Chris Johnson']

,Player,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
274,Chris Johnson,District of Columbia,Black,2011,2013,C,6-11,210,"July 15, 1985",Louisiana State University
275,Chris Johnson,Florida,Black,2013,2016,F-G,6-6,206,"April 29, 1990",University of Dayton

We delete ```Chris Johnson``` whose age is not 23.

In [19]:
player_cv_13_14 = player_cv_13_14.drop(274)

In [20]:
player_cv_13_14 = player_cv_13_14.reset_index(drop=True)

In [21]:
player_cv_13_14[player_cv_13_14['Player']=='Chris Johnson']

,Player,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
274,Chris Johnson,Florida,Black,2013,2016,F-G,6-6,206,"April 29, 1990",University of Dayton

Check which ```Chris Wright``` is in previous table ```player_stat```.

In [22]:
player_stat_13_14[player_stat_13_14['Player']=='Chris Wright']

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
475,Chris Wright,2013-14,25.0,MIL,NBA,8,0.0,126.0,16.5,0.029,0.429,8.8,9.4,9.1,6.9,2.9,3.2,10.7,16.7,112.0,109.0,0.2,0.1,0.3,0.102,-0.4,0.2,-0.2,0.1

In [23]:
player_cv_13_14[player_cv_13_14['Player']=='Chris Wright']

,Player,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
563,Chris Wright,Ohio,Black,2012,2014,F,6-8,226,"September 30, 1988",University of Dayton
564,Chris Wright,District of Columbia,Black,2013,2013,G,6-1,210,"November 4, 1989",Georgetown University

By checking Wikipedia, we delete ```Chris Wright``` who is born in 1989.

In [24]:
player_cv_13_14 = player_cv_13_14.drop(564)

In [25]:
player_cv_13_14 = player_cv_13_14.reset_index(drop=True)

In [26]:
player_cv_13_14[player_cv_13_14['Player']=='Chris Wright']

,Player,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
563,Chris Wright,Ohio,Black,2012,2014,F,6-8,226,"September 30, 1988",University of Dayton

Now let's see if there's still duplicated names.

In [27]:
len(player_cv_13_14['Player'].value_counts()) == player_cv_13_14.shape[0]

True

### Merge these two

In [28]:
merge_stat_cv = pd.merge(player_stat_13_14, player_cv_13_14, left_on='Player', right_on='Player', how='inner')

In [29]:
merge_stat_cv.shape[0]

482

In [30]:
player_stat_13_14.shape[0]

482

In [31]:
player_cv_13_14.shape[0]

572

In [32]:
merge_stat_cv.shape[0] == player_stat_13_14.shape[0]

True

<div class="alert alert-success">

- Comment: $\{$player $P$: $P \in$ player_stat_13_14$\}$  $\subseteq$ \{ player $P$: $P \in$ player_cv_13_14 \}

### Get 2013-2014 data for player_salary

In [33]:
player_salary_13_14 = player_salary[player_salary['SEASON'] == '2013-2014']
player_salary_13_14 = player_salary_13_14.reset_index(drop=True)

In [34]:
player_salary_13_14.shape

(388, 5)

In [35]:
player_salary_13_14.head(3)

      SEASON  RK              NAME           TEAM    SALARY
0  2013-2014  41     Al Horford, C  Atlanta Hawks  12000000
1  2013-2014  58  Paul Millsap, PF  Atlanta Hawks   9500000
2  2013-2014  74   Jeff Teague, PG  Atlanta Hawks   8000000

Check the 3 duplicated names in ```player_cv``` table.

In [36]:
player_salary_13_14[player_salary_13_14['NAME'].str.contains('Tony Mitchell')]

        SEASON   RK               NAME             TEAM  SALARY
114  2013-2014  346  Tony Mitchell, PF  Detroit Pistons  500000

In [37]:
merge_stat_cv[merge_stat_cv['Player'].str.contains('Tony Mitchell')]

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
308,Tony Mitchell 24,2013-14,24.0,MIL,NBA,3,0.0,10.0,30.9,0.200,0.000,11.1,0.0,5.7,22.6,5.2,0.0,0.0,22.6,132.0,109.0,0.0,0.0,0.1,0.242,8.6,-2.1,6.5,0.0,Georgia,Black,2014,2014,F,6-6,216,"August 7, 1989",University of Alabama
309,Tony Mitchell 21,2013-14,21.0,DET,NBA,21,0.0,79.0,18.1,0.083,1.583,19.7,16.0,18.0,3.4,3.8,3.0,16.4,13.2,117.0,104.0,0.1,0.1,0.2,0.151,-0.1,1.4,1.3,0.1,Wisconsin,Black,2014,2014,F,6-8,235,"April 7, 1992",University of North Texas

In [38]:
player_salary_13_14.iloc[114, 2] = 'Tony Mitchell 21, PF'

In [39]:
player_salary_13_14[player_salary_13_14['NAME'].str.contains('Tony Mitchell')]

        SEASON   RK                  NAME             TEAM  SALARY
114  2013-2014  346  Tony Mitchell 21, PF  Detroit Pistons  500000

In [40]:
player_salary_13_14[player_salary_13_14['NAME'].str.contains('Chris Johnson')]

       SEASON   RK               NAME            TEAM  SALARY
23  2013-2014  361  Chris Johnson, SF  Boston Celtics  320189

In [41]:
merge_stat_cv[merge_stat_cv['Player'].str.contains('Chris Johnson')]

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
235,Chris Johnson,2013-14,23.0,BOS,NBA,40,0.0,789.0,10.8,0.593,0.201,4.3,9.8,7.0,6.0,1.8,0.4,8.6,14.3,111.0,109.0,0.9,0.5,1.4,0.085,0.1,-0.9,-0.8,0.2,Florida,Black,2013,2016,F-G,6-6,206,"April 29, 1990",University of Dayton

In [42]:
player_salary_13_14[player_salary_13_14['NAME'].str.contains('Chris Wright')]

        SEASON   RK              NAME             TEAM  SALARY
216  2013-2014  387  Chris Wright, SF  Milwaukee Bucks    9281

In [43]:
merge_stat_cv[merge_stat_cv['Player'].str.contains('Chris Wright')]

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College
475,Chris Wright,2013-14,25.0,MIL,NBA,8,0.0,126.0,16.5,0.029,0.429,8.8,9.4,9.1,6.9,2.9,3.2,10.7,16.7,112.0,109.0,0.2,0.1,0.3,0.102,-0.4,0.2,-0.2,0.1,Ohio,Black,2012,2014,F,6-8,226,"September 30, 1988",University of Dayton

#### preprocess the name

In [44]:
# all names contain ","
player_salary_13_14['NAME'].str.contains(",").sum() == player_salary_13_14.shape[0]

True

In [45]:
# all names contain one and only one ","
for l in player_salary_13_14['NAME'].str.split(",").to_list():
    if len(l)!=2:
        print(l)

<div class="alert alert-success">

- Comment: We noticed that in player_salary_14_15, these five players' names are not in good format: Jeff Taylor, Louis Williams, Luc Richard Mbah A Moute, Patty Mills, erik jay murphy. For example, in the table merge_stat_cv, Jeff Taylor is called Jeffery Taylor.

In [46]:
false_names = ['jeff taylor', 'louis williams', 'luc richard mbah a moute', 'patty mills', 'erik jay murphy']
true_names = ['jeffery taylor', 'lou williams', 'luc mbah a moute', 'patrick mills', 'erik murphy']

In [47]:
def preprocess_name(name):
    if ',' in name:
        ind = name.find(',')
        name = name[:ind]
    ### We remove the Jr.
    if "Jr." in name:
        name = name.replace(" Jr.", "")
    if "Jr" in name:
        name = name.replace(" Jr.", "")
    if "III" in name:
        name = name.replace(" III", "")
    while '.' in name:
        ind = name.find('.')
        name = name.replace('.','')
        
    name = name.lower()
    name = name.strip()
    
    if name in false_names:
        name = true_names[false_names.index(name)]
    
    return name

## Final dataframe to work on for 2013-2014

In [48]:
player_salary_13_14['Player'] = player_salary_13_14['NAME'].apply(lambda s: preprocess_name(s))

In [49]:
player_salary_13_14.shape

(388, 6)

In [50]:
merge_stat_cv['Player'] = merge_stat_cv['Player'].apply(lambda s: preprocess_name(s))

In [51]:
merge_stat_cv.shape

(482, 38)

In [52]:
merge = pd.merge(merge_stat_cv, player_salary_13_14, left_on='Player', right_on='Player', how='inner')
merge.shape

(380, 43)

In [53]:
merge.head(3)

,Player,Season,Age,Tm,Lg,G,GS,MP,PER,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Place_of_Birth,Race,From,To,Pos,Ht,Wt,Birth Date,College,SEASON,RK,NAME,TEAM,SALARY
0,quincy acy,2013-14,23.0,TOT,NBA,63,0.0,847.0,10.1,0.106,0.376,9.5,19.5,14.4,4.9,1.4,2.5,15.4,10.1,109.0,107.0,0.6,0.9,1.5,0.086,-2.5,1.4,-1.1,0.2,Texas,Black,2013,2016,F,6-7,240,"October 6, 1990",Baylor University,2013-2014,326,"Quincy Acy, SF",Toronto Raptors,788872
1,steven adams,2013-14,20.0,OKC,NBA,81,20.0,1197.0,11.2,0.000,0.735,14.1,17.1,15.6,4.9,1.7,3.9,22.5,11.7,108.0,102.0,0.9,1.9,2.9,0.114,-2.1,2.4,0.3,0.7,New zealand,White,2014,2016,C,7-0,255,"July 20, 1993",University of Pittsburgh,2013-2014,227,"Steven Adams, C",Oklahoma City Thunder,2090880
2,jeff adrien,2013-14,27.0,TOT,NBA,53,12.0,961.0,17.4,0.000,0.433,11.8,24.8,18.2,6.8,1.3,3.0,10.6,17.3,114.0,106.0,1.6,1.1,2.7,0.134,-1.4,0.3,-1.1,0.2,Massachusetts,Black,2011,2015,F,6-7,245,"February 10, 1986",University of Connecticut,2013-2014,310,"Jeff Adrien, SF",Charlotte Bobcats,916099

In [56]:
merge.to_csv(data_path + "merge_13_14.csv")